h1 {
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 3.5rem;
}

p {
    margin: 0;
}

.card-body {
    padding: 10px 25px;
}

.card-info-show {
    min-height: 110px;
    border-radius: 30px;
}

.card-info-show-e {
    min-height: 87px;
}